# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Next.js build output
.next/

# SvelteKit build output
.svelte-kit/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/
public/

# Gridsome files
.gridsome/

# VuePress build output
.vuepress/dist/

# VuePress v2.x temp and cache directory
.temp/
.cache/

# Docusaurus files
.build/
.docusaurus/

# Serverless directories
.serverless/

# FuseBox files
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
